<div class="pagination">
  {{#if next}}
  <div class="pagination-button left-button">
    <a href="{{page_url next}}">
        <h4><i class="fa fa-angle-double-left"></i>&nbsp;Older</h4>
    </a>
  </div>
  {{/if}}
  {{#if prev}}
  <div class="pagination-button right-button">
    <a href="{{page_url prev}}">
        <h4>Newer&nbsp;<i class="fa fa-angle-double-right"></i></h4>
    </a>
  </div>
  {{/if}}
</div>
