<div class="pagination">
  {{#if next}}
    <a href="{{page_url next}}">
      <div class="left-button">
        <h4><i class="fa fa-angle-double-left"></i>
        Older</h4>
      </div>
    </a>
  {{/if}}
  {{#if prev}}
    <a href="{{page_url prev}}">
      <div class="right-button">
        <h4>Newer
        <i class="fa fa-angle-double-right"></i></h4>
      </div>
    </a>
  {{/if}}
</div>
