<div class="sidebar-content">
  <a href= "/about">
    <h1 class="button">about</h1>
  </a>
  <a href="/rss">
    <h1 class="button">follow</h1>
  </a>
  {{>location_block name="china"}}
  {{>location_block name="hong-kong"}}
  {{>location_block name="vietnam"}}
  {{>location_block name="singapore"}}
  {{>location_block name="malaysia"}}
  {{>location_block name="laos"}}
  {{>location_block name="thailand"}}
  </div>
