<div class="sidebar-content">
  <a href= "/about">
    <h1 class="button">about</h1>
  </a>
  <a href="/rss">
    <h1 class="button">follow</h1>
  </a>
  {{>location_block name="chiang-mai"}}
  <div class="break-line"></div>
  {{>location_block name="ayutthaya"}}
  {{>location_block name="koh-yao-noi"}}
  {{>location_block name="prachuap-khiri-khan"}}
  {{>location_block name="bangkok"}}
  </div>
