.theme-info {
  text-align: right;
  color: $grey-font-colour;
  text-transform: uppercase;
  font-weight: $font-weight;
  letter-spacing: $spacing;
  padding-top: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
