.blog-title h1 {
  @include mq-web-layout {
    font-size: 6rem;
  };
  @include mq-phone-layout {
    font-size: 3rem;
  };
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  letter-spacing: $spacing;
}
