.pagination {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  justify-content: space-between;

  .pagination-button{
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 0.3rem;
    letter-spacing: $spacing;
    text-transform: uppercase;

    &.right-button{
      margin-left: 3rem;
    }

    &.left-button{
      margin-right: 3rem;
    }
  }

  .pagination-button:hover{
    background-color: $background-hover-colour;
  }

  h4 {
    margin: 0;
    padding: 0.1rem 0.3rem;
    font-weight: 200;
  }
}
