.pagination {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;

  .pagination-button{
    margin-bottom: 1rem;
    letter-spacing: $spacing;
    text-transform: uppercase;

    &.right-button{
      margin-left: 3rem;
      flex: 1;
      text-align: right;
    }

    &.left-button{
      margin-right: 3rem;
      flex: 1;
      text-align: left;
    }
  }

  h4 {
    margin: 0;
    font-weight: 200;
    padding: 0.4rem 0.6rem;
    border: 1px solid black;
    display: inline;

    &:hover{
      background-color: $background-hover-colour;
    }
  }
}
