html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: initial;
  color: inherit;
}

h1, h2 {
  font-weight: 100;
  text-transform: uppercase;
}

.content-column { /* flexbox container for (post list column, sidebar) */
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin:0 auto;
  padding: 0 2rem;
}

.post-list-content { /* for column holding list of posts */
  flex: 1;
  min-width: 200px;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 2rem;
  padding: 0 2rem;
}

.sidebar-content { /* sidebar content column */
  width: 300px;
  margin: 0 auto;
  border: 1px;
}

.break-line {
  border-bottom: 1px dashed black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.pagination {
  text-align: center;
  font-weight: 200;
}

.post-excerpt { /* container for all content per individual post listing, inc header */
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}

.post-excerpt h1 {
  margin: 0;
}

.preview { /*flex container for text and image preview for each post */
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.excerpt-content { /* preview excerpt */
  margin: 1rem 0;
  min-width: 200px
}


.preview-image { /* preview image for post preview*/
  width: 100%;
  height: 300px;
  min-width: 200px;
  min-height: 125px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.1rem;
  margin-bottom: 1rem;
  background-color: grey;
  background-size: cover;
  background-position: center;
}


.tag {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0.2rem;
  margin-bottom: 0.3rem;
  font-weight: 200;
  text-transform: lowercase;
}

.sidebar-content h1{
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.sidebar-location-block {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 175px;
  margin-left: 0;
  margin-top: 1.1rem;
  margin-right: 0;
  margin-bottom: 0.5rem;
  background-color: grey;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #FCFCFC;
}

.blog-title h1{
  font-size: 75px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
